* {
  font-family: 'Lacquer', sans-serif;
}
body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  border: 3px solid black;
  text-align: center;

}

/* Left section */
.left-side {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 89%;
  width: 25%;
  background: black;
  color: white;
  text-align: center;
}
.matches-found {
  width: 100%;
  height: 5%;
  background: black;
}

.match-count {
  width: 100%;
  height: 15%;
  background: black;
  color: white;
  font-size: 10em;
  margin-top: 10px;
}

.matched-images {
  width: 100%;
  height: 25%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7em;
}

.image-box1 {
  display: flex;
  justify-content: space-evenly;
}

.image-box2 {
  display: flex;
  justify-content: space-evenly;
}

.small-image {
  width: 3em;
  height: 4em;
  background: grey;
}

.top-times-section {
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

/* Right section */
.right-side {
  right: 0;
  bottom: 0;
  position: absolute;
  height: 89%;
  width: 74%;
  display: flex;
  flex-wrap: wrap;
  background: #e9e9e9;
}

#card {
  border: 2px solid red;
  height: 10em;
  width: 8em;
}

.winner-page {
  display: none;
  position: absolute;
  height: 89%;
  width: 100%;
  bottom: 0;
  background: white;
  text-align: center;
}
.congrats{
  font-size: 7em;
}

h2{
  font-size: 6em;
  margin: .5em;
}

h3 {
  font-size: 4em;
  margin: .5em;
}
.winner-page button{
  width: 9em;
  height: 3em;
  background: black;
  color: white;
  font-size: 2em;
  padding: 0;
}
.button-div {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-left: 25%;
}
