* {
  font-family: 'Lacquer', sans-serif;
}
body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  border: 3px solid black;
  height: 10%;
  width: 100%;
  text-align: center;
  background: black;
  color: #ffd706;

}

/* Left section */
.left-side {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 90%;
  width: 25%;
  background: black;
  color: white;
  text-align: center;
}
.matches-found {
  width: 100%;
  height: 5%;
  background: black;
}

.match-count {
  width: 100%;
  height: 15%;
  background: black;
  color: #ffd706;
  font-size: 10em;
  margin-top: 10px;
}

.matched-images {
  width: 100%;
  height: 25%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7em;
}

.image-box1 {
  display: flex;
  justify-content: space-evenly;
}

.image-box2 {
  display: flex;
  justify-content: space-evenly;
}

.small-image {
  width: 3em;
  height: 4em;
  background: grey;
}

.top-times-section {
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

/* Right section */
.right-side {
  right: 0;
  bottom: 0;
  position: absolute;
  height: 90%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: grey;
}
#card:hover{
  box-shadow: 3px 3px 3px 3px #ffd706;
  height: 11em;
  width:8.5em;

}

#card {
  cursor: pointer;
  height: 10em;
  width: 8em;
  margin-top: 2em;
  background: black;
}

.image-slant1 {
  transform: translatex(-3em) rotate(10deg);
}
.image-slant2 {
  transform: translateY(4em) rotate(-9deg);
}
.image-slant3 {
  transform: translateX(2em) rotate(23deg);
}
.image-slant4 {
  transform: translateX(-4em) rotate(7deg);
}
.image-slant5 {
  transform: translateY(1em) rotate(-13deg);
}
.image-slant6 {
  transform: translateY(-7em)rotate(-6deg);
}
.image-slant7 {
  transform: translateY(6em) rotate(15deg);
}
.image-slant8 {
  transform: translateY(4em) rotate(17deg);
}
.image-slant9 {
  transform: translateX(-21em) rotate(-13deg);
}
.image-slant10 {
  transform: rotate(-6deg);
}
.wu-tang-logo {
  height: 5em;
  width: 8em;
  margin: 2.5em 0;
}

.winner-page {
  display: none;
  position: absolute;
  height: 89%;
  width: 100%;
  bottom: 0;
  background: white;
  text-align: center;
}
.congrats{
  font-size: 7em;
}

h2{
  font-size: 6em;
  margin: .5em;
}

h3 {
  font-size: 4em;
  margin: .5em;
}
.winner-page button{
  width: 9em;
  height: 3em;
  background: black;
  color: white;
  font-size: 2em;
  padding: 0;
}
.button-div {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-left: 25%;
}
